<% provide(:title, "All users") %>
<h1>All users</h1>
<%= will_paginate %>
<ul class="users">
    <!-- Here it will automatically render _user.html.erb file -->
    <%= render @users %>
</ul>
<%= will_paginate %>