<footer class="footer">
    <small>
        The <a href="https://www.youtube.com/c/techsiragugal" target="_a">Tech Siragugal Tutorial</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",about_path %></li>
            <li><%= link_to "Playlist",'https://www.youtube.com/user/firstsevan/playlists' %></li>
            <li><%= link_to "Contact",contact_path %></li>
        </ul>
    </nav>
</footer>